<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="automationpracticev1">
<listeners>
		<listener class-name="com.automationpracticev1.Utilities.Reporting" />
	</listeners>
	
	<test name="automationpracticev1">
		<parameter name="browser" value="Chrome" />
		<classes>
			<class name="com.automationpracticev1.TestCases.TC_Login_001" />
			
		</classes>

	</test>

</suite>